:root {
	--lv-font-size: 16px;
	--lv-background: #000000;
	--lv-scrollbar-track: #000000;
	--lv-scrollbar-thumb: #ffffff;
	--lv-scrollbar-thumb-hvr: #ffaaaa;
	--lv-anchor: #7878fe;
	--lv-anchor-visited: #7878aa;
}

@media (prefers-color-scheme: light) {
	:root {}
}

@font-face {
	font-family: georgia;
	src: url(res/fonts/georgia.ttf);
}

@keyframes spin {
	0% {
		transform: rotate(0deg) scale(1);
	}

	50% {
		transform: rotate(180deg) scale(1.1);
	}

	100% {
		transform: rotate(360deg) scale(1);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	height: 100dvh;
	font-size: var(--lv-font-size);
}

body {
	background-color: var(--lv-background);
}

a {
	text-decoration: underline;
	color: var(--lv-anchor);
}

a:visited {
	color: var(--lv-anchor-visited)
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--lv-scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background-color: var(--lv-scrollbar-thumb);
}

#main-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#loading-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	transition: opacity 0.15s linear;
}

#loading-wrapper.hide {
	opacity: 0;
	pointer-events: none;
}

#loading-wrapper::after {
	--size: 40px;
}

#loading-wrapper::before {
	--size: 50px;
}

#loading-wrapper::after, #loading-wrapper::before {
	content: '';
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	animation: spin 0.8s ease-in-out infinite;
	filter: drop-shadow(0 0 5px #000000)
}

#loading-wrapper::after {
	border: 5px solid #ff00ff;
	border-block: 5px solid #00ffff;
	animation-direction: normal;
	background-image: radial-gradient(circle at 50% 50%, #00ffff 20%, #ff00ff);
}

#loading-wrapper::before {
	border: 5px solid #00ffff;
	border-inline: 5px solid #ff00ff;
	animation-direction: reverse;
}

#loading-wrapper.hide::after, #loading-wrapper.hide::before {
	animation: none;
}

.page-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease-in-out;
	overflow-x: hidden;
	overflow-y: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-container.hide {
	transform: translateX(100%);
}

.page-container.remove {
	transform: translateX(-50%) scaleX(0.5);
}

/* @scope (#iframe) {
	:scope {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: fit-content;
	}

	h1, h2 {
		color: var(--lv-iframe-h1);
		font-family: 'georgia';
		letter-spacing: 0.1rem;
	}
} */

/* @container header (max-width: 420px) {
	#header-container nav {
		flex-direction: row;
	}
} */

@media (hover: none) {
	
}

@media (hover: hover) {
	
}
